.section-title Welcome to my CV
button.disc
  i.icon__youtube
h1 Virgil A. Ciociu
h2 Junior Developer
h3 About Me
.description-box__with-shadow
  p I am passionate about technology and software development.
  p Excellent problem-solving skills, the ability to think creatively and a thirst to learn new skills.

button.pill
  i.icon__download
  span.button-text Click to Download my CV
