.column(span="row")
  .section-title Welcome to my CV
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YT
.column(span="row")
  h1 Virgil A. Ciociu
.column(span="row")
  h2 Junior Developer
.column(span="row")
  h3 About Me
.column(span="row")
  .description-box__with-shadow
    p I am passionate about technology and software development.
    p Excellent problem-solving skills, the ability to think creatively and a thirst to learn new skills.

.column(span="row")
  button.pill
    i.icon__download
    span.button-text Click to Download my CV
.column(span="row")
  button.disc
    i.icon__download
    span.button-text AD